.header {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.spice-box {
    padding: 30px 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

@media (max-width: 620px) {
    .header {
        flex-wrap: wrap;
    }
}
