img {
    width: 200px;
}

.image-box {
    height: 120px;
    padding: 20px;
}

.spice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.127);
    border-radius: 10px;
}

button img {
    width: 30px;
    height: 30px;
}

.spice-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #262923 1px solid;
    border-radius: 5px;
    flex-grow: 1;
    position: relative;
}

.spice-name button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
}

.spice-name span {
    margin-left: auto;
    margin-right: auto;
}

.choose {
    transform: rotate(90deg);
    height: 20px;
}

.dropdown-menu {
position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #262923;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  overflow-y: auto;
  max-height: 200px;
  z-index: 1; 
  scrollbar-width: thin;
  scrollbar-color: #3498db #f0f0f0;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .dropdown-menu li:hover {
    background-color: #262923; 
    border-radius: 5px;
  }

  /* Track */
.dropdown-menu::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #ffffffc2;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }
  
  