.nav {
    padding: 10px 0px;
    background-color:#171718;
    color: white;
    border-bottom: 1px solid #262923;
    position: absolute;
    width: 100%;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
    color: white;
}

strong {
    color: tomato;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    font-size: 16px;
    font-weight: 500;
    row-gap: 10px;
    list-style: none;
}

.nav-list__link {
    color: white;
    text-decoration: none;
    transition: opacity 0.1s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px 25px;
}

.nav-list__item:hover {
    background-color:#202023;
}

.nav-list__item button {
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

.nav-list__item button img {
    width: 10px;
    height: 10px;
}

@media (max-width: 620px) {
    .logo {
        font-size: 16px;
    }
    .nav-list {
        font-size: 10px;
    }
}

.dropdown-menu li {
    font-size: 12px;
}

.dropdown-menu img {
    width: 15px;
    height: 10px;
    margin-right: 5px;
}